<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Node.js" stopProcessing="true">
                    <match url="/*" />
                    <action type="Rewrite" url="http://192.168.1.100:3000/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <iisnode watchedFiles="web.config,*.js" />
    </system.webServer>
</configuration>
