<configuration>
    <system.webServer>
        <handlers>
            <!-- Cấu hình để IIS sử dụng iisnode để chạy file server.js -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
        </handlers>

        <rewrite>
            <rules>
                <!-- Rewrite tất cả các request đến ứng dụng Node.js -->
                <rule name="Node.js" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="/server.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- Cấu hình để theo dõi các thay đổi của file web.config và các file JavaScript -->
        <iisnode watchedFiles="web.config,*.js" />

    </system.webServer>
</configuration>
